/frontend/.env


extension/backend/browser-extension-backend/.env
extension/backend/browser-extension-backend/google_client_secret.json
extension/backend/google_client_secrets.json
extension/backend/venv
extension/backend/.env
